---

- name: Run pacstrap - efibootmgr
  command: pacstrap /mnt {{ item }}
  loop:
    - efibootmgr
  when: efi

- name: Run pacstrap - nvidia & nvidia-settings
  command: pacstrap /mnt {{ item }}
  loop:
    - nvidia
    - nvidia-settings
  when: nvidia

- name: Run pacstrap - amd-ucode
  command: pacstrap /mnt amd-ucode
  when: amd

- name: Run pacstrap - intel-ucode mesa
  command: pacstrap /mnt {{ item }}
  loop:
    - intel-ucode
    - mesa
  when: intel

- name: Run pacstrap - open-vm-tools
  command: pacstrap /mnt {{ item }}
  loop:
    - open-vm-tools
  when: vmware